body{
    color: white;
    background-color: #21232A;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    /* padding: 70px; */
  }
  
  input{
    color: grey;
    font-size: 1.2rem;
    /* width: 100%;  */
  }



  /* .card-grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 500;
    width: 600;

  } */
  
  .card{
    align-content: center;
    background-color: #21232A;
    /*A friend told me that it's looks better without borders*/
    /* border: 1px solid grey; */
    margin-bottom: 10px;
    margin-right: 10px;
    overflow: hidden;
  }
  